# JBI010 - Exercises Week 6 (2021-2022)

This Jupyter notebook aims to provide exercises for practicing your programming skills.  

**Note:** Only five out of seven exercises–with a score of at least 80%–count for 5% of the course's final grade. Submit your notebook to Canvas, in this way Momotor will be able to give you feedback.

## Table of Contents
<div class="toc" style="margin-top: 1em;">
    <ul class="toc-item">
        <li>
            <span><a href="#Introduction-to-this-template-notebook" data-toc-modified-id="Introduction-to-this-template-notebook">Introduction to this template notebook</a></span>
        </li>
        <li>
            <span><a href="#Important-Reminder" data-toc-modified-id="Important-Reminder">Important Reminder</a></span>
        </li>
        <li>
            <span><a href="#1.-Current-Date" data-toc-modified-id="1.-Current-Date">1. Current Date</a></span>
        </li>
        <li>
            <span><a href="#2.-Remove-Invalid-Records" data-toc-modified-id="2.-Remove-Invalid-Records">2. Remove Invalid Records</a></span>
        </li>
        <li>
            <span><a href="#3.-Nested-Summations" data-toc-modified-id="3.-Nested-Summations">3. Nested Summations</a></span>
        </li>
        <li>
            <span><a href="#4.-Triangular-Number-Sequence" data-toc-modified-id="4.-Triangular-Number-Sequence">4. Triangular Number Sequence</a></span>
        </li>
        <li>
            <span><a href="#5.-Movie-Dialogues" data-toc-modified-id="5.-Movie-Dialogues">5. Movie Dialogues</a></span>
        </li>
        <li>
            <span><a href="#6.-Movie-Categories" data-toc-modified-id="6.-Movie-Categories">6. Movie Categories</a></span>
        </li>
    </ul>
</div>


# Introduction to this template notebook

* This is a **personal** notebook. 
* Make sure you work in a **copy** of `...-template.ipynb`,
    **renamed** to `...-yourIDnr.ipynb`,
    where `yourIDnr` is your TU/e identification number.  
* In case of two authors, include both id. numbers:
    `...-firstIDnr-secondIDnr.ipynb`.

<div class="alert alert-danger" role="danger">
<h3>Integrity</h3>
<ul>
    <li>In this course you must act according to the rules of the TU/e code of scientific conduct.</li>
    <li>All the exercises and the graded assignments are to be done within your programming homework group.</li>
    <li>You must not copy from the Internet, your friends, books... If you represent other people's work as your own, then that constitutes fraud and will be reported to the Examination Committee.</li>
    <li>Making your work available to others (complicity) also constitutes fraud.</li>
</ul>
</div>

You are expected to work with Python 3 code in this notebook.

The locations where you should write your solutions can be recognized by
**marker lines**,
which look like this:

>`#//`
>    `BEGIN_TODO [Label]` `Description` `(n points)`
>
>`#//`
>    `END_TODO [Label]`

<div class="alert alert-warning" role="alert">Do NOT modify or delete these marker lines.  Keep them as they are.<br/>
<br/>
NEVER write code that is needed for grading <i>outside</i> the marked blocks.
It is invisible there.
</div>

Proceed in this notebook as follows:
* **Personalize** the notebook (see below)
* **Read** the text.
* **Fill in** your solutions between `BEGIN_TODO` and `END_TODO` marker lines.
* **Run** _all_ code cells (also the ones _without_ your code),
    _in linear order_ from the first code cell.

**Personalize your notebook**:
1. Copy the following lines of code (`AUTHOR2_...` only when applicable):

  ```python
  AUTHOR_NAME = 'Your Full Name'
  AUTHOR_ID_NR = '1234567'
  AUTHOR_DATE = 'YYYY-MM-DD'  # when first modified, e.g. '2019-02-26'

  AUTHOR2_NAME = 'Not Applicable'
  AUTHOR2_ID_NR = 'Not Applicable'
  ```

1. Paste them between the marker lines in the next code cell.
1. Fill in your _full name_, _identification number_, and the current _date_ as strings between quotes.
1. When applicable, also copy and fill in the name and id.nr. for the second author.
1. Run the code cell by putting the cursor there and typing **Control-Enter**.

In [ ]:
#// BEGIN_TODO [Author] Name, Id.nr., Date, as strings (1 point)

# ===== =====> Replace this line by your code. <===== ===== #

#// END_TODO [Author]

AUTHOR_NAME, AUTHOR_ID_NR, AUTHOR_DATE

## Preliminaries

Run the cell below. This cell will import additional modules providing additional Python functionality.

In [ ]:
# Imports
from typing import Dict, Generator, Iterable, List, Tuple

## Important Reminder

* Follow all coding conventions defined on the Python Coding Standard document available via Canvas. Remember that you are not just programming for a **machine**, you are mainly programming for **other humans!**
    * In particular, all function definitions must have **type hints** and a **docstring**.
    * A *valid* **docstring** starts with a capital letter and ends with a dot.


## How to submit your work

1. **Before submitting**, you must run your notebook by doing **Kernel > Restart & Run All**.  
   Make sure that your notebook runs without errors **in linear order**.

2. Remember to rename the notebook, replacing `...-template.ipynb` with `...-yourIDnr.ipynb`, where `yourIDnr` is your TU/e identification number.

3. Submit the executed notebook with your work
   for the appropriate assignment in **Canvas**.

* In the **Momotor** tab in Canvas,
  you can select that assignment again to find some feedback on your submitted work.
  
* If there are any problems reported by _Momotor_,
  then you need to fix those,
  and **resubmit the fixed notebook**.

In case of a high workload on our server
(because many students submit close to the deadline),
it may take longer to receive the feedback.

## 1. Current Date

In this exercise, you must use the `datetime` module and investigate which methods can help you when solving the problem. 
Create the function `get_current_date()`, which has no parameters and returns a tuple with the year, month, and day as elements in the given order.
All these elements should be integers.
You must discover how to get the current date by using the `datetime` module features.

Afterwards, create the function `tuple_to_datetime()`, which receives a tuple as a parameter with the year, month, and day of a date in the given order. Then, it returns a `datetime.date` with the corresponding Gregorian values.

**Example:**

*Program:*
```python
date_tuple = get_current_date()
date_datetime = tuple_to_datetime(date_tuple)

print(date_datetime.year)
print(date_datetime.month)
print(date_datetime.day)
```

*Output:*
<pre>
2020
10
1
</pre>

In [ ]:
import datetime

#// BEGIN_TODO [current_date] Current date

# ===== =====> Replace this line by your code. <===== ===== #

#// END_TODO [current_date]

date_tuple = get_current_date()
date_datetime = tuple_to_datetime(date_tuple)

print(date_datetime.year)
print(date_datetime.month)
print(date_datetime.day)

## 2. Remove Invalid Records

We are using tuples to store names of persons and their respective ages. These tuples are now contained in the list `records`. Some of the tuples in this list contain negative ages, and are considered invalid tuples.

In this exercise, you will write a function called `clean_records()` that takes the variable `records` as its argument and returns a list of tuples containing only valid cases. The function will not modify the input list.

**Example:**

*Input:*
```python
records = [("Jack", 38), ("Priyanka", 22), ("Juan", -21), ("Manouk", 28), ("Sona", -58)]
```

*Output:*
<pre>
[('Jack', 38), ('Priyanka', 22), ('Manouk', 28)]
</pre>

In [ ]:
#// BEGIN_TODO [valid_tuples] Remove invalid tuples

# ===== =====> Replace this line by your code. <===== ===== #

#// END_TODO [valid_tuples]

records = [("Jack", 38), ("Priyanka", 22), ("Juan", -21), ("Manouk", 28), ("Sona", -58)]
print(clean_records(records))

## 3. Nested Summations

The variable ```data``` shown in the cell below is a list that contains (nested) lists of positive and negative integers. In this exercise, you will process the information inside these lists to generate a list of positive numbers. 

Write a function called ```sum_lists``` that accepts the variable ```data``` and performs the following operations:
* computes the sum of only positive values inside each nested list;
* stores the computed sums in a list, and;
* returns the list containing the sums.

You are requested to use **list comprehensions** to iterate over the elements of the nested lists.

**Example:**

*Input:*
```python
data = [[10, 6, -1, 2, -4, 3, -10, -3, -2, 4],
        [0, -3, -9, -1, 2, 6, -5, 8, -7, 0],
        [-3, 1, -9, 5, -10, -2, 3, -9, -5, -3],
        [2, -10, 4, -3, 5, 1, 2, 3, -8, 1],
        [-2, -10, -2, -7, 8, 0, 1, 0, 8, -5]]
```

*Output:*
<pre>
[25, 16, 9, 18, 17]
</pre>

In [ ]:
#// BEGIN_TODO [summations] Nested summations

# ===== =====> Replace this line by your code. <===== ===== #

#// END_TODO [summations]


data = [[10, 6, -1, 2, -4, 3, -10, -3, -2, 4],
        [0, -3, -9, -1, 2, 6, -5, 8, -7, 0],
        [-3, 1, -9, 5, -10, -2, 3, -9, -5, -3],
        [2, -10, 4, -3, 5, 1, 2, 3, -8, 1],
        [-2, -10, -2, -7, 8, 0, 1, 0, 8, -5]]

sum_lists(data)

## 4. Triangular Number Sequence

The triangular number sequence is a series of numbers that create equilateral triangles. 
Each subsequent number in the series adds a new row to the triangle as you can see below.

<div style="text-align:center">
	<img src="assets/triangular-sequence.png" alt="Triangular Number Sequence" width="500"/>
</div>

In the image, `n` represents the term in the sequence. 
With `n` we can compute the number of circles that are present in each triangle.
Thus, the $n^{th}$ term of the sequence is computed as $x_n = \frac{n(n+1)}{2}$.
For example, the $3^{rd}$ term of the sequence is computed as $x_3 = \frac{3(3+1)}{2} = \frac{12}{2} = 6$.

Create the function `triangular_seq_generator()`, which receives an integer as input and returns a generator that computes the triangular number sequence up to the number received as a parameter. 
Then, create the function `position_ge_100()`, which receives an iterable as a parameter and returns the **position** of the first element within the iterable that is greater than or equal to 100. If there is no element greater than or equal to 100, it returns `-1`. Maybe the `enumerate()` function might help you.

**Example:**

*Program:*
```python
generator = triangular_seq_generator(100)
first_ge_100(generator)
```

*Output:*
<pre>
14
</pre>

In [ ]:
#// BEGIN_TODO [triangular_sequence] Triangular number sequence

# ===== =====> Replace this line by your code. <===== ===== #

#// END_TODO [triangular_sequence]

generator = triangular_seq_generator(100)
position_ge_100(generator)

## 5. Movie Dialogues

Create the function `extract_dialogue()`, which takes a line of dialogue (string) as input and returns a tuple with two elements: the name of the character (string) and its line in the dialogue (string). 
A typical input for the function looks like this: 

```python
"L872 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++$+++ Okay -- you're gonna need to learn how to lie."
```

Use **regular expressions** to extract the name of the character and his/her line on the dialogue. 
Then, return a tuple like the following:

```python
("BIANCA", "Okay -- you're gonna need to learn how to lie.")
```

Remove whitespaces at the beginning and end of both elements in the tuple.

Afterwards, define the function `extract_all_lines()` which gets a path to a file as input (string) and returns a list of tuples.
The function reads each line of the file and extracts the name of the character and its dialogue.
Each character-dialogue tuple is added to the list in the order in which each line is read from the file.
To do so, use the `extract_dialogue()` function defined before.

**Example:**

*Program:*
```python
extract_all_lines('datasets/movie_lines.txt')
```

*Output:*
<pre>
[('BIANCA', 'They do not!'),
 ('CAMERON', 'They do to!'),
 ('BIANCA', 'I hope so.'),
 ('CAMERON', 'She okay?'),
 ('BIANCA', "Let's go."),
 ('CAMERON', 'Wow'),
 ('BIANCA', "Okay -- you're gonna need to learn how to lie."),
 ('CAMERON', 'No'),
 ...]
</pre>

In [ ]:
import re

#// BEGIN_TODO [movie_dialogues] Movie dialogues

# ===== =====> Replace this line by your code. <===== ===== #

#// END_TODO [movie_dialogues] 

extract_all_lines('datasets/movie_lines.txt')

## 6. Movie Categories

Create the function `extract_categories()`, which takes a line of a movie metadata file as input and returns a list of strings with the movie's categories. A typical input for the function looks like this:

```python
"m4 +++$+++ 48 hrs. +++$+++ 1982 +++$+++ 6.90 +++$+++ 22289 +++$+++ ['action', 'comedy', 'crime', 'drama', 'thriller']"
```

Use **regular expressions** to extract the categories from the input line. Remove whitespaces and quotations surrounding each category. Then, return a list like the following:

```python
['action', 'comedy', 'crime', 'drama', 'thriller']
```

Then, define the function `extract_all_categories()` which gets a path to a file as input (string) and returns a dictionary.
The function reads each line of the file and extracts the list of categories defined in such line.
To do so, use the `extract_categories()` function defined before.
This list is then considered to update the dictionary of all categories, where keys are categories and values are the frequency of these categories in the movies.

**Example:**

*Program:*
```python
extract_all_categories('datasets/movie_titles_metadata.txt')
```

*Output:*
<pre>
{'comedy': 21,
 'romance': 14,
 'adventure': 12,
 'biography': 5,
 ... }
</pre>

In [ ]:
import re

#// BEGIN_TODO [movie_categories] Movie categories

# ===== =====> Replace this line by your code. <===== ===== #

#// END_TODO [movie_categories] 

extract_all_categories('datasets/movie_titles_metadata.txt')

In [ ]:
%whos

---

## (End of Notebook)

&copy; 2017-2021 - **TU/e** - Eindhoven University of Technology